html{
    font-family:  "Plus Jakarta Sans", monospace,Raleway, Inter, Arial, sans-serif;
    background-color: #000;
}

section{
    padding: 50px 0;
    background-color: transparent;
    font-size: 3rem;
    min-height: 85vh;
}

.big-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 400px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fz-3r{
    font-size: 3rem;
}

.jright{
    justify-self: right;
}

.m-a-0{
    margin: auto 0;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.nameG {
    color: #fff;
}


.back{
    min-width: 100px;
    background-color: #333333;
    color: white;
    position: absolute;
    left: 15px;
    top: 15px;
}


.lineA, .lineB{
    display: flex;
    align-items: center;
}

.lineA::after {
    content: "";
    flex: 1;
    height: 4px;
    margin-left: 10px;
  }

.lineB::before {
    content: "";
    flex: 1;
    height: 4px;
    margin-left: 10px;
  }

/* For Social  */

.social-section{
    text-align: center;
}

#steam::after {
    content: "Steam";
    color: #39529d;
    font-weight: bold;
}

#steam:hover::after {
    content: "Drecken";
}

#ytb::after {
    content: "Youtube";
    color: #ff0000;
    font-weight: bold;
}

#ytb:hover::after {
    content: "ODA Oda";
}

#spotify::after {
    content: "Spotify";
    color: #1ed760;
    font-weight: bold;
}

#spotify:hover::after {
    content: "Fraux Oda";
}

.TopSocial{
    display: flex;
    gap: 4rem;
}

.SocialGrid{
     display: grid;
      grid-template-columns: repeat(2, 1fr); 
}

#social a{
    font-weight: bold;
}

/* For Games */

#game{
    padding: 50px;
    font-size: 1.25rem;
    background: linear-gradient(
        rgba(57, 82, 157, 0.9), 
        rgba(57, 82, 157, 0.9)
      ),
      url('../image/gameb.png');
}

#game h3 {
    min-height: 77px;
    align-content: center;
}

#game h2{
    color: #ffefca;
    margin: 1.5rem;
    font-size: 3rem;
}

#game .lineB::before{
    background: #ffefca;
}
/* For Novel */
#novel{
    padding: 50px;
    font-size: 1.25rem;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6), 
        rgba(255, 255, 255, 0.6)
      ),
      url('../image/bgame.png');
}

#novel .container{
    height: -webkit-fill-available;
    margin: 1rem auto;
}

#novel h3 {
    min-height: 77px;
    align-content: center;
}

#novel h2{
    color: #ff0000;
    margin: 1.5rem;
    font-size: 3rem;
}

#novel .lineA::after{
    background: #ff0000;
}

 #items {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two equal columns */
      gap: 10px;
      font-size: 1rem;
      margin: 1.5rem;
    }

#items div {
    padding: 12px;
    border: 2px solid #ff0000;
    background: transparent;
    border-radius: 4px;
    width: 95%;
    color: #ff0000;
    text-align: start;
    font-weight: 600;
    height: 25px;
    align-content: center;
    overflow: overlay;
    line-height: 2;
}

#items div::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

#items div:hover{
    color: #ffffff;
    font-weight: bold;
    border: 2px solid #ff0000;
    background-color: #ff0000;
}

    #pagination {
      margin-top: 20px;
      text-align: center;
    }

    .page-link {
      display: inline-block;
      margin: 0 5px;
      padding: 8px 12px;
      border: 1px solid #ff0000;
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.2s;
      color: #ff0000;
      min-width: 2%;
    }

    .page-link:hover {
      background: #ff0000;
      color: #ffffff;
    }

    .page-link.active {
      background-color: #ffffff;
      color: #ff0000;
      border-color: #ffffff;
    }

    @media only screen and (max-width: 633px){
    .TopSocial{
        flex-wrap: wrap;
        gap: 1rem;
    }

    .items div{
        line-height:1;
    }

    #items{
        grid-template-columns: repeat(1, 1fr); /* Two equal columns */
    }

    .social-section a{
        font-size: 2rem;
    }
}