.big-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 400px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fz-3r{
    font-size: 3rem;
}

.jright{
    justify-self: right;
}

.m-a-0{
    margin: auto 0;
}

#lists{
    padding: 50px;
    background-color: #333;
    font-size: 2rem;
    margin: 1rem auto;
    width: 90%;
}

#lists .container{
    height: -webkit-fill-available;
    margin: 1rem auto;
}

#lists h3 {
    min-height: 77px;
    align-content: center;
}

#steam::after {
    content: "Steam";
    color: #39529d;
    font-weight: bold;
}

#steam:hover::after {
    content: "Drecken";
}

#ytb::after {
    content: "Youtube";
    color: #ff0000;
    font-weight: bold;
}

#ytb:hover::after {
    content: "ODA Oda";
}

.social-section{
    padding: 50px 0;
    background-color: transparent;
    font-size: 3rem;
    text-align: center;
    min-height: 28vh;
}

.name {
    color: #fff;
}

.project-list {
    display: block;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 20px;
    height: 50%;
}