html{
    font-family:  "Plus Jakarta Sans", monospace,Raleway, Inter, Arial, sans-serif;
    background-color: #000;
}

.big-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 400px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.fz-3r{
    font-size: 3rem;
}

.jright{
    justify-self: right;
}

.m-a-0{
    margin: auto 0;
}

#novel{
    padding: 50px;
    background-color: #333;
    font-size: 2rem;
    margin: 1rem auto;
    width: 90%;
}

#novel .container{
    height: -webkit-fill-available;
    margin: 1rem auto;
}

#novel h3 {
    min-height: 77px;
    align-content: center;
}

#novel h2{
    color: #ccc;
    margin: 1.5rem;
}

#steam::after {
    content: "Steam";
    color: #39529d;
    font-weight: bold;
}

#steam:hover::after {
    content: "Drecken";
}

#ytb::after {
    content: "Youtube";
    color: #ff0000;
    font-weight: bold;
}

#ytb:hover::after {
    content: "ODA Oda";
}

#spotify::after {
    content: "Spotify";
    color: #1ed760;
    font-weight: bold;
}

#spotify:hover::after {
    content: "Fraux Oda";
}
.novel-section, .social-section{
    padding: 50px 0;
    background-color: transparent;
    font-size: 3rem;
    text-align: center;
    min-height: 82vh;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.nameG {
    color: #fff;
}


.back{
    min-width: 100px;
    background-color: #333333;
    color: white;
    position: absolute;
    left: 15px;
    top: 15px;
}

/* For Novel */
 #items {
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two equal columns */
      gap: 10px;
      font-size: 1.25rem;
    }

#items div {
    padding: 12px;
    border: 1px solid #ddd;
    background: transparent;
    border-radius: 4px;
    width: 95%;
    color: white;
    text-align: start;
        height: 60px;
    align-content: center;

}

    #pagination {
      margin-top: 20px;
      text-align: center;
    }

    .page-link {
      display: inline-block;
      margin: 0 5px;
      padding: 8px 12px;
      border: 1px solid #ccc;
      cursor: pointer;
      border-radius: 4px;
      transition: background 0.2s;
      color: #ccc;
      min-width: 4%;
    }

    .page-link:hover {
      background: #f0f0f0;
      color: #333;
    }

    .page-link.active {
      background-color: #333;
      color: white;
      border-color: #333;
    }