/* General Reset */
body,
h2,
h3,
h4,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family:  "Plus Jakarta Sans", monospace,Raleway, Inter, Arial, sans-serif;
    box-sizing: border-box;
}


a {
    cursor: pointer;
}

svg{
    vertical-align: middle;
}

body {
    line-height: 1.6;
    color: #333;
}


html::-webkit-scrollbar {
    border-left: 1px solid black;
}

html::-webkit-scrollbar-track {
    background-color: #333333;
}

html::-webkit-scrollbar-thumb {
    border: 3px solid #212529;
    background-color: #000;
    border-radius: 1px;
}

html {
    scroll-behavior: smooth;
}

section div {
    margin: auto;
}
/* to the top button */
.tttop{
    color: black;
    background-color: white;
    z-index: 10000;
    position: fixed;
    width: 2rem;
    height: 4rem;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    right: 0%;
    bottom: 0%;
    opacity: 50%;
    display: flex;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    transition: opacity 0.6s;
}

.tttop:hover{
    opacity:100%;
}

/* Footer Styles */
.footer {
    color: #fff;
    padding: 30px 0;
    text-align: center;
    font-size: 0.9rem;
    width: 98%;
    margin: auto;
    border-radius: 10px 10px 0 0;
    background-color: #000;
}

.bg333{
    background-color: #333;
}

.bgfff{
    background-color: #fff;
}

.bg130{
    background-color: #000;
}

.bg-swhite{
    background-color: #ffffff08;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.big-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    width: 400px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.pointer{
    cursor: pointer;
}

.prj-border{
    border: 3px solid #000;
    border-radius: 20px;
}

.prj-background{
    background: linear-gradient(
        rgba(255, 255, 255, 0.75), 
        rgba(255, 255, 255, 0.75)
      ),
      url('../image/wp-li.jpg'); //https://images.wallpapersden.com/image/download/line-light-background_aGVsZpSZmpqtpaSklGdqa2WtZmtlZQ.jpg
    background-size: cover;
    background-position: center;
}

.prj-border-in{
    border: 3px dashed #000;
    border-radius: 20px;
}

.btn-git {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

.btn-yt {
    color: #000;
    background-color: #ff0000;
    border-color: #ff0000;
}

.btn-li{
    color: #000;
    background-color: #0d67c2;
    border-color: #0d67c2;    
}

.btn-primary {
    color: #fff;
    background-color: #266189;
    border-color: #266189;
}

.btn-ig {
    color: #000;
    background-color: #fc0077;
    border-color: #fc0077;
}

.bor-rad{
    border-radius: 15px;
}

.c-black{
    color: #000;
}

.flex {
    display: flex;
}

.fwrap{
    flex-wrap: wrap;
}

.grid2{
    grid-template-columns: repeat(2, 1fr);
    display: grid
;
}

.plcont-center{
    place-content: center;
}

.invincible {
    opacity: 0;
}

.name {
    color: #000;
}

.none {
    display: none;
    transition: transform 0.5s ease;
}

.shadows {
    box-shadow: 0 .1rem 1rem #000 !important;
}

.show {
    transform: translateY(-100%);
}