@import "tailwindcss";

:root {
  --primary: #fff;
  --secondary: #000;
  --shade: #ffffff40;
  --greenText: #94ea92;
  --greenBG: #03300f;
  --greensec: #7fd067;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-shade: var(--shade);
  --color-greenBG: var(--greenBG);
  --color-greenText: var(--greenText);
  --color-greensec: var(--greensec);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-sm: 650px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@font-face {
  font-family: "BGrotesque";
  src: url("../files/brandon_grotesque_regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "BGrotesque";
  src: url("../files/brandon_grotesque_bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

body {
  background: var(--color-greenBG);
  color: var(--secondary);
  font-family: "Plus Jakarta Sans", sans-serif, BGrotesque, monospace;
}

/* MAIN */
body,
h2,
h3,
h4,
p,
a {
  text-decoration: none;
  box-sizing: border-box;
}

#top::selection,
#header::selection,
#contact::selection,
footer::selection {
  background-color: var(--color-greenText);
  color: var(--color-greenBG);
}

#about::selection,
#projects::selection,
#social::selection {
  color: var(--color-greenText);
  background-color: var(--color-greenBG);
}

#navi {
  display: none;
}

header nav a:hover {
  font-weight: bold;
  text-decoration: underline;
}

a {
  cursor: pointer;
}

body {
  line-height: 1.6;
}

html {
  scroll-behavior: smooth;
}

svg {
  vertical-align: middle;
}

header {
  transition: transform 0.3s ease-in-out;
}

#navi div:not([id*="eo"]) {
  transition: transform 0.3s ease;
}

.font-border {
  text-shadow: -0.5px -0.5px 0 #71e479, 0.5px -0.5px 0 #71e479,
    -0.5px 0.5px 0 #71e479, 0.5px 0.5px 0 #71e479;
}

.show {
  display: block !important;
  transform: translateY(-100%);
}

.ease-300 {
  transition: 0.3s ease;
}

.corner-scoop {
  corner-shape: scoop;
  box-shadow: 0px 0px 25px -8px rgb(0 0 0);
}

.tag a {
  font-size: 12px;
  height: fit-content;
  background-color: var(--shade);
  margin-left: 5px;
  align-self: center;
}

.dropdown {
  margin: 0 auto;
  text-align: left;
  position: relative;
  display: block; /* Ensure it takes full width */
  margin-left: 5px;
}

/* "See More" button */
.dropdown-toggle {
  background-color: transparent;
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-toggle:hover {
  background-color: #00000040;
}

/* Icon */
.dropdown-toggle .icon {
  transition: transform 0.3s ease;
}

/* Rotate icon when open */
.dropdown-toggle.open .icon {
  transform: rotate(180deg);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  color: #000;
  margin: 1rem auto;
  padding: 16px;
  transition: ease-in;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Visible dropdown content */
.dropdown-content.shows {
  display: block;
}

/* knob  */
.toggle-container.dark {
  background-color: #1c2535;
  justify-content: flex-end;
}

.toggle-knob {
  width: 20px;
  height: 20px;
  background-color: #1c2535;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease;
}

.toggle-knob.darknob {
  background-color: #f0f0f0;
}

.toggle-knob .icon {
  font-size: 12px;
  color: #000;
}

.toggle-container.dark .toggle-knob .icon {
  color: #fdd835;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -240%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  /* content: ""; */
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.none {
  display: none;
}

.acc {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: none;
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-git {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-ig {
  color: #fff;
  background-color: #a12532;
  border-color: #a12532;
}

.btn-yt {
  color: #fff;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-li {
  color: #fff;
  background-color: #023d7a;
  border-color: #023d7a;
}

.visible {
  opacity: 1;
  /* Fully visible */
  transform: scale(1);
  /* Original size */
  pointer-events: auto;
  /* Enable interaction when visible */
}

/* contact  */
#contact a {
  place-self: center;
  color: --var(---color-greenBG);
  margin: 5px auto;
  font-weight: bold;
  padding: 12px;
  border-radius: 4px;
  width: 95%;
  align-content: center;
}

#wa-a:hover {
  background-color: #04bd3b;
}

#wa-a::after {
  content: "Whatsapp";
}

#wa-a:hover::after {
  content: "+62 88xxxxx";
}

#gma-a:hover {
  background-color: #ee4436;
}

#gma-a::after {
  content: "Gmail";
}

#gma-a:hover::after {
  content: "malaus4294@gmail.com";
}

#dc-a:hover {
  background-color: #5966f4;
}

#dc-a::after {
  content: "Discord";
}

#dc-a:hover::after {
  content: "jhodanaga";
}

#tl-a:hover {
  background-color: #308fec;
}

#tl-a::after {
  content: "Telegram";
}

#tl-a:hover::after {
  content: "sm092";
}

.lineA {
  display: flex;
  align-items: center;
}

.lineA::after {
  content: "";
  flex: 1;
  height: 4px;
  margin-left: 10px;
}

#projects h3 {
  min-height: 40px;
  align-content: center;
  text-weight: bold;
}

#projects iframe{
  margin-top: 1rem;
}

/* MEDIA QUERRY */
@media only screen and (max-width: 650px) {
  header {
    position: relative;
    justify-self: end;
  }

  header .container {
    max-height: 1200px !important;
    height: fit-content;
    display: block;
    justify-items: center;
  }

  header .container div {
    display: none;
  }

  #image {
    width: fit-content;
    display: block;
    justify-self: end;
    margin-right: 1rem;
  }

  header nav a:hover {
    background-color: transparent;
    color: #000;
    border-bottom: 0;
  }

  #navi {
    display: flex;
    flex-direction: column;
  }

  .dropdown-content {
    max-height: 0;
    opacity: 0;
    padding-bottom: 16px;
    overflow: hidden;
    transform: translateY(0%);
    transition: max-height 1s ease, opacity 1s ease, transform 1s ease;
  }

  .dropdown-content.shows {
    max-height: 2000px; /* max-height: fit-content cannot animate in CSS. */
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown-bot {
    display: block;
  }

  #projects .erase {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .sm\:opacity-100 {
    opacity: 0.65 !important;
  }
}
