@media only screen and (max-width: 992px) {
    .mleft-auto {
        margin-left: 0 !important;

    }

    section{
        display: block !important;
    }

    header {
        position: relative !important;
    }
    

    .display-2 {
        font-size: 3.5rem !important;
    }

    .welcome1 {
        margin: auto !important;
    }

    .about-right{
        text-align: center !important;
    }

    .about1{
        justify-items: center;
        display: block !important;
    }

    iframe{
        height: 320px !important;
    }
}

@media only screen and (max-width: 633px){
    header .container {
        max-height: 1200px !important;
        height: fit-content;
        display: block;
    }
    #mybooklist .gambar img {
        width: fit-content;
        height: 90px;
    }

    iframe {
        height: 200px !important;
    }

    /* #about h2{
        font-size: 2rem;
    } */
}

@media only screen and (max-width: 900px){
    #about p, #about h2, #about div{
        margin: 1rem auto !important;
        text-align: center !important;
        padding-left: 0 !important;
        word-wrap: break-word;
    }

    .aabout2{
        padding-right: 0 !important;
        text-align-last: center !important;
    }
    #mybooklist .gambar img {
        width: fit-content;
        height: 90px;
    }
}