/* MAIN */
body,
h2,
h3,
h4,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family:  Raleway, Arial, sans-serif;
    box-sizing: border-box;
}


a {
    cursor: pointer;
}

body {
    line-height: 1.6;
    color: #333;
}


html::-webkit-scrollbar {
    border-left: 1px solid black;
}

html::-webkit-scrollbar-track {
    background-color: #333333;
}

html::-webkit-scrollbar-thumb {
    border: 3px solid #212529;
    background-color: #000;
    border-radius: 1px;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100%;
    min-height: 90vh;
    width: 98%;
    margin: auto;
    display: flex;
    margin-bottom: 1rem;
    border-radius: 10px;
    border-bottom: 1px dashed #005511;
}

section div {
    margin: auto;
}


/* GENERAL */
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-booking, .btn-call:hover{
    background-color: #fff;
    border: 1px solid #005511;
    color: #005511;
}

.btn-call, .btn-booking:hover{
    border: 1px solid #005511;
    color: #fff;
    background-color: #005511;
}

.container {
    width: 90%;
    max-width: 1200px;
}

.flex{
    display: flex;
}

.jus-c-center{
    justify-content: center;
}

.m-zeroA {
    margin: 0 auto;
}

.shadows {
    box-shadow: 0 .1rem 1rem #000 !important;
}

.show{
    display: block;
    transform: translateY(-100%);
  }


 /* HEADER */

.header {
    color: #000;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header img{
    height: 60px;
    background-color: #1c4c6c;
    border-radius: 2rem;
    border: 1px solid #ffffff;
}

.header .btn{
    padding: 8px 30px;
    font-size: 18px;
    border-radius: 30px;
    margin: 0 5px;
}

.header .name {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header .tagline {
    font-size: 1.2rem;
    color: #bbb;
}

.m-header {
    margin: auto 10vh;
}

.nav a {
    margin: 0 15px;
    color: #000;
    font-size: 1.2rem;
}

.nav a:hover {
    text-decoration: underline;
}
