/* MAIN */
body,
h2,
h3,
h4,
p,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: inherit;
    font-family:  Raleway, Arial, sans-serif;
    box-sizing: border-box;
}

*::selection{
    color: #fff;
    background-color: #4b4235;
}

a {
    cursor: pointer;
}

body {
    line-height: 1.6;
    color: #333;
}


html::-webkit-scrollbar {
    border-left: 1px solid black;
}

html::-webkit-scrollbar-track {
    background-color: #333333;
}

html::-webkit-scrollbar-thumb {
    border: 3px solid #212529;
    background-color: #000;
    border-radius: 1px;
}

html {
    scroll-behavior: smooth;
}

section {
    height: 100%;
    min-height: 90vh;
    width: 98%;
    margin: auto;
    display: flex;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 50px 0;
    color: #4b4235;
}

section div {
    margin: auto;
}

svg{
    vertical-align: middle;
}


/* GENERAL */
.alignC-Center{
    align-content: center;
}

.bold{
    font-weight: bold;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-booking, .btn-call:hover{
    background-color: #fff;
    border: 1px solid #4b4235;
    color: #4b4235;
}

.btn-call, .btn-booking:hover{
    border: 1px solid #4b4235;
    color: #fff;
    background-color: #4b4235;
}

.container {
    width: 90%;
    max-width: 1200px;
}

.flex{
    display: flex;
}

.gap-15{
    gap:15px;
}

.jus-c-center{
    justify-content: center;
}

.m-zeroA {
    margin: 0 auto;
}

.min-width100{
    min-width: 100px;
}

.pad-r-20{
    padding-right: 20px;
}

.pad-l-20{
    padding-left: 20px;
}

.shadows {
    box-shadow: 0 .1rem 1rem #000 !important;
}

.show{
    display: block;
    transform: translateY(-100%);
  }

.text-a-center{
    text-align: center;
}


 /* HEADER */

.header {
    color: #191612;
    padding: 10px 0;
    background-color: #ffffff99;
    backdrop-filter: blur(10px);
    text-align: center;
    position: fixed;
    width: 100%;
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    top: 0;
    left: 0;
}

.header img{
    height: 65px;
    border-radius: 2rem;
    display: inherit;
    transform: rotateY(180deg);
}

.header .btn{
    padding: 6px 30px;
    font-size: 18px;
    border-radius: 5px;
    margin: 0 5px;
}

.header .name {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header .tagline {
    font-size: 1.2rem;
    color: #bbb;
}

.m-header {
    margin: auto 10vh;
}

.nav a {
    margin: 0 15px;
    color: #191612;
    font-size: 1.2rem;
}

/* .nav a:hover {
    text-decoration: underline;
} */

/* ABOUT  */
.aboutext{
    width: 40%;
    max-height: 550px;
    margin: auto auto auto 0;
}

.about-image{
    width:45%;
    margin: auto 0 auto auto;
}

.about-image img{
    max-width: 640px;
    max-height: 338px;
}

.pabout {
    color: #5e584f;
    font-size: 1.2rem;
    text-align: left;
    max-width: 600px;
    line-height: 4vh;
}

#dashboard .pabout{
    margin-left: 7rem;
}

#about .pabout{
    margin-bottom: 1rem;
}

.h2about{
    text-align: left;
    font-size: 2.5rem;
    max-width: 20rem;
    letter-spacing: 3px;
    margin-bottom: 1rem;
    line-height: normal;
}

#dashboard .h2about{
    margin-left: 7rem;
}

#about div:first-of-type{
    height:fit-content;
}

/* FIGHTERS */
.fighters{
    margin: 0 auto;
    width: 100%;
}

.h2fighters{
    text-align: center;
    font-size: 2rem;
}

.pfighters {
    color: #5e584f;
    font-size: 1.2rem;
    text-align: center;
    max-width: 20rem;
    animation : fontColorChange 6s;
    line-height: 4vh;
    margin: auto;
}

.card-body{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    font-size: 1rem;
    margin: 5rem 10rem 2rem 10rem;
}

.card{
    height: 500px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    background-color: #4b423512;
}

.card-detail{
    display: grid;
    margin: 10px 0;
    gap: 20px;
}

.card-detail div{
    display: flex;
}

.card-name-div{
    padding: 0 30px;
    margin: 0;
}

.card-button{
    width: 80%;
    text-align: center;
    color: #fff;
    background-color: #4b4235;
    margin-bottom: 3rem;
}

.card-image{
    height: 270px;
    width: 240px;
}

.card-image img{
    width: 100%;
}

.gap-divider{
    gap: 20px;
}

.divider div{
    flex-direction: column;
    line-height: normal;
    gap: 0;
}

.detail-texts span:first-of-type{
    color: #4b4235;
    font-weight: bold;
}

.detail-texts span:nth-of-type(2){
    color: #736654;
    font-size: smaller;
}

.detail-texts{
    flex-direction: column;
    line-height: normal;
    gap: 0;
}

.top-divider div, .bot-divider div{
    max-width: 100px;
    margin: auto 0;
}

.fullfighters{
    width: 100%; 
    display: block;
    padding: 10px 0;
}

.fullfighters:hover{
    border-top: 1px dashed #736654;
    border-bottom: 1px dashed #736654;
}